@model BeachTowelShop.Models.HomePage.HomePageViewModel
@{
    ViewData["Title"] = "BeachTowelShop.com";
}

<div class="container" id="top-page">
    <div id="top">

        <h1>We make great personalized towels.</h1>
        <div class="line">
            <p>beautiful landscape, company logo or any design.</p>
        </div>
        <p>We deliver smiles and great gifts.</p>
        <p>Prices from @Model.Towels.Select(a => a.Price).Min(a => a) lv and @Model.Towels.Count sizes</p>
        <div class="button">
            <a asp-controller="Order" asp-action="Page" asp-route-id="1">See what is up</a>
        </div>

    </div>

</div>

<div class="container">
    <div id="section">
        <div class="img">
            <img src="~/pictures/specs-havliiki.png" alt="">
        </div>
        <div class="text">
            <p>The towels are 70% cotton, 30% microfiber.</p>
            <p>Wash up to 40 ° C.</p>
            <p>
                They have good absorbency and are used not only for surprise, but also for their intended purpose.one side is always snow white, and on the other we stamp by sublimation. With this technology, the ink is inserted directly into the fibers of the fabric. Thus, the print stands as part of the product. The paint is directly related to the fabric. This makes it resistant to washing compared to other printing standards. The inks used are environmentally friendly, water-based and harmless.

            </p>
        </div>
    </div>
    <div id="how-is-done">

        <h1>How it is done?</h1>
        <div class="row-left">
            <div class="text">
                <h2>1. Order</h2>
                <p>You choose one or several great photos and place an order through our site. This preserves the quality of the file. Orders via email and Facebook reduce the quality of the photo => the quality of the finished towel. We accept orders only through the site.</p>
            </div>
            <div class="img-div">
                <img src="~/pictures/kak-1.png" alt="" class="img">
            </div>
        </div>
        <div class="row-right">

            <div class="img-div">
                <img src="~/pictures/kak-2.png" alt="" class="img">
            </div>
            <div class="text">
                <h2>2. Production</h2>

                <p>We print on nice and soft towels. We stamp by sublimation. With this technology, the ink is inserted directly into the fibers of the fabric. Thus, the print stands as part of the product. The paint is directly related to the fabric. This makes it resistant to washing compared to other printing standards. The inks used are environmentally friendly, water-based and harmless.</p>
            </div>

        </div>
        <div class="row-left">
            <div class="text">
                <h2>3. Delivery</h2>
                <p>We deliver every Friday or Saturday. An order is included in the delivery if it is made by 13.00 on Monday of the same week. For example, if today is Thursday (19.01.) And you order now - you will receive the delivery next week on Friday (27.01.). If you want fast delivery - order in the days before Monday. We deliver free of charge to Speedy's office.</p>
            </div>

            <div class="img-div">
                <img src="~/pictures/kak-3.png" alt="" class="img">
            </div>
        </div>
    </div>
</div>
<div class="container">

    <div id="prices">

        <h1>Prices</h1>

        <p>The price includes 1 pc. towel + seal.</p>
        <div class="text">
            <i class="fas fa-truck fa-flip-horizontal fa-xs"></i>
            <p><span>Free delivery</span> to a Speedy office.</p>
        </div>
        <ul>
            @foreach (var towel in Model.Towels)
            {
                <div class="inner">
                    <img src="~/@towel.PicturePath" alt="">
                    <li>
                        <p>@towel.Price lv.</p>
                        <a asp-controller="Order" asp-action="Page" asp-route-size="@towel.Size" asp-route-volume="1">Order></a>
                    </li>
                </div>
            }

        </ul>
    </div>
</div>
<div class="container">
    <div id="scroller">
        <div class="title">
            <i class="fas fa-chevron-left fa-2x"></i>
            <h4>We bring smiles</h4>
            <i class="fas fa-chevron-right fa-2x"></i>
        </div>
        <div id="reviews">
            @foreach (var comment in Model.Comments)
            {
                <div class="review">
                    <p>@comment.Description</p>
                </div>
            }
        </div>
    </div>
</div>
<div class="container">
    <div id="about-us">
        <h1>About us</h1>
        <div class="border"></div>
        <h2>The people behind the towels.</h2>
        <p>
            BeachTowelShop is not a hobby. This is a business. This is the best place on the internet where you can buy unique towels - with your photo or design. Why are we the best? Because we are not a mega corporation or a big company, greedy for huge profits. We are a small business, always fair. We make money by selling towels. And the customers? Our customers receive uniquely great towels. It's so simple. If you are a fan of unique things - you are welcome in the right place.

        </p>

        <h3>A little history</h3>
        <p>
            Through trial and error over the years, we have found the best way to use our skills. At BeachTowelShop we invest years of experience in printing and making towels in combination with website development to provide you with the best platform in Bulgaria for towels with your photos.

        </p>


        <h3>Meet the team</h3>
        <p>
            Most companies are large and impersonal, faceless and bureaucratic. Well, that's not us. We are a small company and we care. We care about you. We are here to help you be unique, to feel satisfied and happy.

        </p>


        <h3>That is all</h3>
        <p>You already know us and you are ready for towels. <a>Attach photos and buy unique towels.</a></p>

        <p>questions? Write to us at <a>info &#x40 BeachTowelShop.com</a>or call +3591234567</p>
    </div>
</div>
<div class="container">
    <div id="questions">

        <h1>Questions and Answers</h1>
        <div class="content">

            <div class="text-content">
                <div class="list-item">
                    <div class="visible">
                        <i class="fas fa-plus" onclick="accordeon()"></i>

                        <p onclick="accordeon()">What is BeachTowelShop?</p>
                    </div>
                    <div class="invisible">
                        <div class="more-content">
                            <p>On BeachTowelShop.com you can order a unique and personalized towels. </p>
                            <ul>
                                <li>Put:</li>
                                <li>– favorite photo with the person next to you, children, friends or relatives</li>
                                <li>– cool photo found on the internet</li>
                                <li>– photo collage made by you</li>
                                <li>– any other design or logo you want to see on your towel</li>
                            </ul>
                            <ul>
                                <li>Towels can be used for:</li>
                                <li>– beach</li>
                                <li>– everyday use</li>
                                <li>– dear memory</li>
                                <li>– present</li>
                                <li>– as a goof :D…</li>
                            </ul>
                            <p>There are 5 sizes available to cover all cases.</p>
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <div class="visible">
                        <i class="fas fa-plus" onclick="accordeon()"></i>

                        <p onclick="accordeon()">
                            How do I attach a photo?

                        </p>
                    </div>
                    <div class="invisible">
                        <div class="more-content">

                            <p><a href="">Click here</a>(link). However, it is important that the photo is of good quality. The better the picture quality, the better the towel.</p>
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <div class="visible">
                        <i class="fas fa-plus" onclick="accordeon()"></i>

                        <p onclick="accordeon()">What sizes are there? What is the quality?</p>
                    </div>
                    <div class="invisible">
                        <div class="more-content">
                            <ul>
                                <li>Sizes:</li>

                                @foreach (var towel in Model.Towels)
                                {
                                    <li>@towel.Size sm.</li>
                                }

                            </ul>
                            <p>The towels are of high quality with a composition: 70% cotton and 30% microfiber.</p>
                            <p>Wash up to 40 degrees.</p>
                            <p>The better the photo (file), the better the print.</p>
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <div class="visible">
                        <i class="fas fa-plus" onclick="accordeon()"></i>

                        <p onclick="accordeon()">When will I get my towel?</p>
                    </div>
                    <div class="invisible">
                        <div class="more-content">
                            <p>When we receive an order, we deal with prepress and graphic design. Then we print on a soft and pleasant towel. Only when we print in perfect quality are we ready. This process takes about 5 working days. </p>
                            <p>Then we send by courier to Speedy.</p>
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <div class="visible">
                        <i class="fas fa-plus" onclick="accordeon()"></i>

                        <p onclick="accordeon()">Can I send my towel and print on it?</p>
                    </div>
                    <div class="invisible">
                        <div class="more-content">
                            <p>No. We only print on our towels.</p>
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <div class="visible">
                        <i class="fas fa-plus" onclick="accordeon()"></i>

                        <p onclick="accordeon()">What can be printed on towels?</p>
                    </div>
                    <div class="invisible">
                        <div class="more-content">
                            <p>Absolutely everything! From photos of the dog or family, to logos and all kinds of scribbles.</p>
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <div class="visible">
                        <i class="fas fa-plus" onclick="accordeon()"></i>

                        <p onclick="accordeon()">
                            How and when is it paid?

                        </p>
                    </div>
                    <div class="invisible">
                        <div class="more-content">
                            <p>You pay by cash on delivery when you receive the towel.</p>
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <div class="visible">
                        <i class="fas fa-plus" onclick="accordeon()"></i>

                        <p onclick="accordeon()">
                            Is there a discount for more pieces?

                        </p>
                    </div>
                    <div class="invisible">
                        <div class="more-content">
                            <p>Of course. Contact us.</p>
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <div class="visible">
                        <i class="fas fa-plus" onclick="accordeon()"></i>

                        <p onclick="accordeon()">I have confused the delivery address. Can I change it?</p>
                    </div>
                    <div class="invisible">
                        <div class="more-content">
                            <p>
                                Contact us as soon as possible and we will respond.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="list-item">
                    <div class="visible">
                        <i class="fas fa-plus" onclick="accordeon()"></i>

                        <p onclick="accordeon()">What is your return policy?</p>
                    </div>
                    <div class="invisible">
                        <div class="more-content">
                            <p>If there is something wrong with your order - return it to us unused within 14 days of delivery. We will refund your money. All you have to do is write to u <a href="">info &#x40 BeachTowelShop.com</a>with a request for a complaint .</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="picture">
                <img src="~/pictures/faq.png" alt="">
            </div>
        </div>
    </div>
</div>
<div id="viewport">
    <h1>We bring happiness to thousands of Bulgarians.</h1>

    <button>
        <a asp-controller="Order" asp-action="Page" asp-route-id="1">Attach a photo</a>
    </button>
</div>
