@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@using Microsoft.AspNetCore.Identity
@using BeachTowelShop.Data.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model BeachTowelShop.Models.Orders.UserDetailsViewModel

<form action="" id="secondStep">

    <div class="column-div">
        <h3>Delivery info</h3>
        <div class="row-div">
            <div class="column-div">
                <span asp-validation-for="FullName" class="text-danger"></span>
                <label asp-for="FullName" class="inp"><i class="fa fa-user"></i> Name</label>
                <input asp-for="FullName" type="text" id="fname" placeholder="John Perterson">

                <label asp-for="Email"><i class="fa fa-envelope"></i>Email</label>
                <input type="text" id="email" asp-for="Email" placeholder="john@example.com" value="@UserManager.GetUserName(User)">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="column-div">
                <span asp-validation-for="Adress" class="text-danger"></span>
                <label asp-for="Adress"><i class="fa fa-address-card-o"></i> Adress</label>
                <input type="text" id="adr" asp-for="Adress">

                <label asp-for="City"><i class="fa fa-institution"></i> City</label>
                <input type="text" id="city" asp-for="City" placeholder="София">
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="column-div">
                <span asp-validation-for="Phone" class="text-danger"></span>
                <label asp-for="Phone"><i class="fas fa-phone-square-alt"></i> Phone</label>
                <input type="text" id="phone" asp-for="Phone" placeholder="+359 123456789" value="">

                <label class="container-check" onclick="check()">
                    Invoice

                    <input type="checkbox" id="invoice" asp-for="@Model.Invoice" name="Invoice" onclick="check()">
                    <span class="checkmark"></span>


                </label>
            </div>

        </div>
        @if (ViewData["error"].ToString().Length > 0)

        {
            <div class="invoice-danger">
                <h5 class="invoice-danger">@ViewData["error"].ToString()</h5>

            </div>
            <div class="row-div" id="invoice-div">

                <div class="column-div">
                    <span asp-validation-for="InvoiceFirm" class="text-danger"></span>
                    <label asp-for="InvoiceFirm">* Firm</label>
                    <input type="text" id="company" asp-for="InvoiceFirm" placeholder="Firm">
                    <span asp-validation-for="InvoiceCity" class="text-danger"></span>
                    <span asp-validation-for="InvoiceCity" class="text-danger"></span>
                    <label asp-for="InvoiceCity">
                        * City
                    </label>
                    <input type="text" id="invoice-city" asp-for="InvoiceCity">
                    <span asp-validation-for="InvoiceType" class="text-danger"></span>
                    <label for="list2" asp-for="InvoiceType">
                        Invoice type
                    </label>
                    <select id="list2" asp-for="InvoiceType">
                        <option value="">--Choose a option--</option>
                        <option value="Legal entity">Legal entity</option>
                        <option value="Individual">Individual</option>
                    </select>
                </div>

                <div class="column-div">
                    <span asp-validation-for="InvoiceEIK" class="text-danger"></span>
                    <label asp-for="InvoiceEIK">* EIK</label>
                    <input type="text" id="eik" asp-for="InvoiceEIK">
                    <span asp-validation-for="InvoiceDDS" class="text-danger"></span>
                    <label asp-for="InvoiceDDS">* DDS</label>
                    <input type="text" id="dds" asp-for="InvoiceDDS">
                </div>
                <div class="column-div">
                    <span asp-validation-for="InvoiceAdress" class="text-danger"></span>
                    <label asp-for="InvoiceAdress">* Adress</label>
                    <input type="text" id="invoice-address" asp-for="InvoiceAdress">
                    <span asp-validation-for="InvoiceMOL" class="text-danger"></span>
                    <label asp-for="InvoiceMOL">* MOL</label>
                    <input type="text" id="mol" asp-for="InvoiceMOL">
                </div>
            </div>
        }
        <div class="row-div" id="invoice-div" style="display:none">
            <div class="column-div">
                <span asp-validation-for="InvoiceFirm" class="text-danger"></span>
                <label asp-for="InvoiceFirm">* Firm</label>
                <input type="text" id="company" asp-for="InvoiceFirm" placeholder="Firm">
                <span asp-validation-for="InvoiceCity" class="text-danger"></span>
                <span asp-validation-for="InvoiceCity" class="text-danger"></span>
                <label asp-for="InvoiceCity">
                    * City
                </label>
                <input type="text" id="invoice-city" asp-for="InvoiceCity">
                <span asp-validation-for="InvoiceType" class="text-danger"></span>
                <label for="list2" asp-for="InvoiceType">
                    Invoice type
                </label>
                <select id="list2" asp-for="InvoiceType">
                    <option value="">--Choose a option--</option>
                    <option value="Legal entity">Legal entity</option>
                    <option value="Individual">Individual</option>
                </select>
            </div>

            <div class="column-div">
                <span asp-validation-for="InvoiceEIK" class="text-danger"></span>
                <label asp-for="InvoiceEIK">*EIK</label>
                <input type="text" id="eik" asp-for="InvoiceEIK">
                <span asp-validation-for="InvoiceDDS" class="text-danger"></span>
                <label asp-for="InvoiceDDS">* DDS</label>
                <input type="text" id="dds" asp-for="InvoiceDDS">
            </div>
            <div class="column-div">
                <span asp-validation-for="InvoiceAdress" class="text-danger"></span>
                <label asp-for="InvoiceAdress">* Adress</label>
                <input type="text" id="invoice-address" asp-for="InvoiceAdress">
                <span asp-validation-for="InvoiceMOL" class="text-danger"></span>
                <label asp-for="InvoiceMOL">* MOL</label>
                <input type="text" id="mol" asp-for="InvoiceMOL">
            </div>
        </div>

        <h3>Delivery</h3>
        <div class="row-div">
            @foreach (var item in Html.GetEnumSelectList<BeachTowelShop.Models.Orders.DeliveryMethod>().OrderByDescending(a => a.Value).ToList())
            {
            <label for="@item.Value" class="radio">
                <input type="radio" id="@item.Value" onclick="check()" value="@item.Text" asp-for="DeliveryMethod">
                <span>To @item.Text.Substring(0,item.Text.Length - 6) @item.Text.Substring(Math.Max(0, item.Text.Length - 6))</span>

            </label>
            }
            
        </div>
        <div class="row-div " style="display:none" id="office">
            <label for="list">

            </label>
            <select id="list" asp-for="DeliveryAdress">
                <option value="address">--Choose a office--</option>
                <option value="OFICE1">OFICE1</option>
                <option value="OFICE1">OFICE1</option>
                <option value="OFICE1">OFICE1</option>
                <option value="OFICE1">OFICE1</option>
            </select>
        </div>

        <h3>Payment</h3>
        <div class="row-div">

            @foreach (var item in Html.GetEnumSelectList<BeachTowelShop.Models.Orders.PaymentMethod>().OrderByDescending(a=>a.Value).ToList())
            {

                <label for="@item.Value+10" class="radio">
                    <input type="radio" id="@item.Value+10" value="@item.Text"  asp-for="PaymentMethod">
                    <span>@item.Text</span>
                </label>

               
            }
        </div>
        <div class="buttons">
            <input type="submit" id="final" value="Finish Order" class="button" asp-controller="Order" asp-action="Page" asp-route-id="3">
        </div>
    </div>
</form>



