@model BeachTowelShop.Models.Products.ProductViewModelList
@{
    ViewData["Title"] = "BeachTowelShop.com";
}
@Html.AntiForgeryToken()
    <div class="container item-div">
        <div class="item-page">
            <div class="item-image-left">
                <div class="item-size">
                    <img src="~/@Model.Product.PictureList[0]" alt="">
                </div>
                <div class="info">
                    <p> <i class="fas fa-truck "></i>Преглед и тест при доставка на всяка поръчка!</p>
                    <p><i class="fas fa-gift "></i>Идеален подарък за приятел или роднина!</p>
                    <p><i class="fab fa-cotton-bureau "></i>Допирната част до тялото е 100% памук!</p>
                    <p><i class="fas fa-shield-alt "></i>Продуктите с лого “Доверие в текстила” отговарят на най-строгите критерии на международната асоциация OEKO-TEX® и не съдържат вредни вещества.</p>
                </div>
            </div>
            <div class="item-image-right">
                <h2>@Model.Product.Name</h2>
                <div class="add-cart">
                    <h3 id="h3-price">10 - 49 лв.</h3>
                    <label for="size">
                        Размер:
                        <select name="size" id="item-size" onchange="onSelectChange()" autocomplete="off">
                            <option value=" " price=" ">Избери размер</option>
                            @foreach (var item in Model.Product.Sizes)
                            {
                                <option value="@item.SizeName" price="@item.Price">@item.SizeName см</option>
                            }

                        </select>
                    </label>

                    <label for="volume">
                        Брой:
                        <input type="number" name="volume" value="1" min="1" id="volume" onkeypress="onSelectChange()" onchange="onSelectChange()" autocomplete="off" />
                    </label>

                    <div class="buttons">

                        <a id="add-to-cart" class="button" onclick="addToCart()">Добави в количка</a>


                    </div>

                </div>
                <p>- ПОРЪЧАЙ ПО ТЕЛЕФОН - 0897 47 91 44 -</p>
                <p> - ПОРЪЧАЙ ПО ТЕЛЕФОН - 0897 47 91 44 -</p>


                <div class="description">
                    <h3>Описание</h3>
                    <p>@Model.Product.Description</p>
                </div>
            </div>
        </div>
        <div class="h3">
            <h3>Подобни продукти</h3>
        </div>
        @if (!Model.SimilarProducts.Any())
        {
  
        <h1>---Няма подобни продукти---</h1>

        }
        else
        {
            <div id="similar-products">



                @foreach (var item in Model.SimilarProducts)
                {
                    <div class="item">

                        <div class="picture">
                            <img src="~/@item.PictureList[0]" alt="" class="gallery__img">
                        </div>
                        <h2>@item.Name</h2>
                        <h3><span>От</span> 10 лв.</h3>
                        <div class="gallery-buttons">

                            <a asp-controller="Products" asp-action="Item" asp-route-itemid="@item.Id"> <i class="fas fa-plus-square fa-lg"></i> Виж повече</a>
                        </div>

                    </div>

                }


            </div>
        }

    </div>
@section Scripts{
    <script>
        function onSelectChange() {
            let price = $('#item-size')[0].selectedOptions[0].attributes["price"].value;
           
            if (price == " " || price == undefined) {
                $('#h3-price').text('10 - 49 лв.');

            } else {
                let volume = $('#volume')[0].value;
                //console.log(volume * price);
                let finalPrice = price * volume;
                //console.log(finalPrice);
                $('#h3-price').text(finalPrice + ' лв.');
            }

        }


    </script>

}