@model BeachTowelShop.Models.Products.ProductViewModelList
@{
    ViewData["Title"] = "Item";
}
@Html.AntiForgeryToken()
    <div class="container item-div">
        <div class="item-page">
            <div class="item-image-left">
                <div class="item-size">
                    <img src="~/@Model.Product.PictureList[0]" alt="">
                </div>
                <div class="info">
                    <p> <i class="fas fa-truck "></i>Review and test upon delivery of each order!</p>
                    <p><i class="fas fa-gift "></i>Perfect gift for a friend or relative!</p>
                    <p><i class="fab fa-cotton-bureau "></i>The contact part to the body is 100% cotton!</p>
                    <p><i class="fas fa-shield-alt "></i>Products with the logo "Trust in textiles" meet the strictest criteria of the international association OEKO-TEX® and do not contain harmful substances.</p>
                </div>
            </div>
            <div class="item-image-right">
                <h2>@Model.Product.Name</h2>
                <div class="add-cart">
                    <h3 id="h3-price">@Model.Product.Sizes.Min(a => a.Price) - @Model.Product.Sizes.Max(a => a.Price) lv.</h3>
                    <label for="size">
                        Size:
                        <select name="size" id="item-size" onchange="onSelectChange()" autocomplete="off">
                            <option value=" " price=" ">Choose a size</option>
                            @foreach (var item in Model.Product.Sizes)
                            {
                                <option value="@item.SizeName" price="@item.Price">@item.SizeName sm</option>
                            }

                        </select>
                    </label>

                    <label for="volume">
                        Count:
                        <input type="number" name="volume" value="1" min="1" id="volume" onkeypress="onSelectChange()" onchange="onSelectChange()" autocomplete="off" />
                    </label>

                    <div class="buttons">

                        <a id="add-to-cart" class="button" onclick="addToCart()">Add to cart</a>


                    </div>

                </div>
                <p>- ORDER BY PHONE - 0891 23 45 67 -</p>
                <p>- ORDER BY PHONE - 0891 23 45 68 -</p>


                <div class="description">
                    <h3>Description</h3>
                    <p>@Model.Product.Description</p>
                </div>
            </div>
        </div>
        <div class="h3">
            <h3>Similar products</h3>
        </div>
        @if (!Model.SimilarProducts.Any())
        {
  
        <h1>---No similar products---</h1>

        }
        else
        {
            <div id="similar-products">



                @foreach (var item in Model.SimilarProducts)
                {
                    <div class="item">

                        <div class="picture">
                            <img src="~/@item.PictureList[0]" alt="" class="gallery__img">
                        </div>
                        <h2>@item.Name</h2>
                        <h3><span>From</span> 10 lv.</h3>
                        <div class="gallery-buttons">

                            <a asp-controller="Products" asp-action="Item" asp-route-itemid="@item.Id"> <i class="fas fa-plus-square fa-lg"></i> See more</a>
                        </div>

                    </div>

                }


            </div>
        }

    </div>
@section Scripts{
    <script>
        function onSelectChange() {
            let price = $('#item-size')[0].selectedOptions[0].attributes["price"].value;
           
            if (price == " " || price == undefined) {
                $('#h3-price').text('10 - 49 lv.');

            } else {
                let volume = $('#volume')[0].value;
                //console.log(volume * price);
                let finalPrice = price * volume;
                //console.log(finalPrice);
                $('#h3-price').text(finalPrice + ' lv.');
            }

        }


    </script>

}